<app-admin-menu></app-admin-menu>
<div class="container mt-2">
    <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <h2 class="text-white">List of Accounts</h2>
                <select class="custom-select" (change)="get_product_to_update($event)">
                    <option value="" selected>Select account</option>
                    <option [value]="product.product_Id" *ngFor="let product of products">{{product.product_name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<app-add-product *ngIf="selected_product" [selected_product]="selected_product"></app-add-product>

