
<nav class="navbar navbar-expand-xl">
    <div class="container h-100">
        <a class="navbar-brand" routerLink="/home">
            <h1 class="tm-site-title mb-0">Farming Equipment</h1>
        </a>
        <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto h-100">

                <li class="nav-item"  routerLinkActive="active" routerLink="/buy-product" aria-expanded="false" >
                    <a class="nav-link">
                        <i class="fa fa-plus" aria-hidden="true"></i> Buy Products
                    </a>
                </li>

                <li class="nav-item"  routerLinkActive="active" routerLink="/cart" aria-expanded="false">
                    <a class="nav-link">
                        <i class="fas fa-shopping-cart"></i> Cart-items
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/wish-list" >
                        <i class="fa fa-heart" aria-hidden="true"></i> Wish List
                    </a>
                </li>

                <li class="nav-item"  routerLinkActive="active" aria-expanded="false" routerLink="/feedback">
                    <a class="nav-link">
                        <i class="fa fa-comments" aria-hidden="true"></i> Feedback
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/video">
                        <i class="fa fa-video-camera" aria-hidden="true"></i> Training
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/farmer-registration">
                        <i class="far fa-user"></i> Update Profile
                    </a>
                </li>

            </ul>

            <ul class="navbar-nav">
                <li class="nav-item" (click)="logout()">
                    <a class="nav-link d-block">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Farmer, <b>Logout</b>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</nav>