<app-main-menu></app-main-menu>
<div class="body">
    <div class="container " style="border-radius: 5%;">
        <div class="imgcontainer">
            <img src="../../assets/img/img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        
        <form class="container form-container" [formGroup]="login_form">
            Form Status : {{login_form.status}} <br>
            <label for="uname"><b>Username</b></label>
            <input class="form-control" type="text" placeholder="Enter Username" formControlName='username' [ngClass]=" login_form.controls['username'].touched && login_form.controls['username'].invalid ? 'is-invalid' : login_form.controls['username'].invalid ?'' : 'is-valid' " >
            <label for="psw"><b>Password</b></label>
            <input  class="form-control"  type="password" placeholder="Enter Password" formControlName='password' [ngClass]=" login_form.controls['password'].touched && login_form.controls['password'].invalid ? 'is-invalid' : login_form.controls['password'].invalid ?'' : 'is-valid' ">
                
            <button type="submit" (click)="login()">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </form>
    
        <div class="container mt-4" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>
</div>