<app-farmer-menu *ngIf="currentUserType == 'Farmer'"></app-farmer-menu>
<app-admin-menu *ngIf="currentUserType == 'Admin'"></app-admin-menu>
<app-seller-menu *ngIf="currentUserType == 'Seller'"></app-seller-menu>

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
<div class="container">
    <div class="content-wrapper">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card m-0 text-white">
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3" style=" background-color: #394f62; ">
                            <div class="users-container">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-primary ">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Profile List -->
                                <ul class="users" *ngFor="let chatList of previusChatsList">
                                    <li class="person active-user" data-chat="person1"
                                        (click)="selectedUser = chatList; getChat()">
                                        <div class="user">
                                            <img src="{{chatList.farmer_img}}" alt="Retail Admin">
                                            <span class="status busy"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">{{chatList.farmer_name+' ('+ chatList.account_type +')'
                                                }}</span>
                                            <span class="time">15/02/2019</span>
                                        </p>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <!-- Chat List -->
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9 " style="background-color: #394f62;"
                            *ngIf="selectedUser">
                            <div class="selected-user">
                                <span>To: <span class="name">{{selectedUser.farmer_name}}</span></span>
                            </div>
                            <div class="chat-container " #scrollMe [scrollTop]="scrollMe.scrollHeight">
                                <ul class="chat-box chatContainerScroll" *ngFor="let chat of chatHistory">
                                    <li [ngClass]="currentUserId != chat.sender_id ? 'chat-left' : 'chat-right' ">
                                        <div class="chat-avatar">
                                            <img src="{{currentUserId != chat.sender_id ? selectedUser.farmer_img : currentUserImg}}" alt="Retail Admin">
                                        </div>
                                        <b style="color: #394f62; font-weight: bold" class="chat-text">
                                            <div class="chat-name">{{currentUserId != chat.sender_id ?
                                                selectedUser.farmer_name: 'You'}}</div>
                                            {{chat.chat_content}}
                                        </b>
                                    </li>
                                </ul>
                            </div>
                            <form class="msger-inputarea input-group" style="background-color: #394f62;" [formGroup]="chat">
                                <input type="text" class="msger-input form-control" placeholder="Enter your message..."
                                formControlName=chat_content>
                                <button class="btn btn-primary" (click)="sendChat()">Send</button>
                            </form>
                        </div>
                        <!-- IF Chat list not selected -->
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9 " style="background-color: #394f62;"
                            *ngIf="!selectedUser"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>