<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:20%">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Add New Item</a>
    <a href="#" class="w3-bar-item w3-button">List Of Users</a>
    <a href="#" class="w3-bar-item w3-button">Users Feedbacks</a>
</div>

<!-- Page Content -->
<div style="margin-left:20%">

    <div class="w3-container w3-teal">
        <h1>My Page</h1>
    </div>


    <div class="w3-container">
        <h2>Sidebar Navigation Example</h2>
        <p>The sidebar with is set with "style="width:25%".</p>
        <p>The left margin of the page content is set to the same value.</p>
    </div>

</div>