<app-farmer-menu></app-farmer-menu>

<section>
    <div class="container" style="margin-top: 2rem ;" >
        <h1 class="page-header text-center text-white text-u" *ngIf="wishListProducts.length ==  0">You Have Not Added Any Product To Wishlist..</h1>
        <div class="row justify-content-center mb-3 overflow_" *ngIf="wishListProducts.length > 0">
            <div class="col-md-12 col-xl-10 " *ngFor="let product of wishListProducts" >
                <div class="card shadow-0 border rounded-3">
                    <div class="card-body mb-2" >
                        <div class="row ">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="bg-image hover-zoom ripple rounded ripple-surface">
                                    <img src='{{ "assets/images/"+product.product_img}}' class="w-100" style="max-height: 13rem; min-height: 13rem;"/>
                                    <a href="#!">
                                        <div class="hover-overlay">
                                            <div class="mask" style="background-color: rgba(222, 24, 24, 0.15);">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-xl-6">
                                <h5>{{product.product_name}}</h5>
                                <div class="d-flex flex-row">
                                    <div class="text-danger mb-1 me-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span>310</span>
                                </div>

                                <div class="text-truncate"></div>
                                <p class=" mb-4 mb-md-0">
                                    {{product.product_description}}
                                </p>
                            </div>
                            <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                <div class="d-flex flex-row align-items-center mb-1">
                                    <h3 class="mx-2">{{product.product_price - (product.product_price * product.product_offer / 100)  | currency:'INR'}}</h3> | 
                                    <h4 class="mb-1 me-1 mx-2">{{product.product_offer}}%</h4> <br>
                                </div>
                                <span class="text-danger mx-2"><s>{{product.product_price  | currency:'INR'}}</s></span>

                                <h6 class="text-success">Free shipping</h6>
                                <div class="d-flex flex-column mt-4">
                                    <button class="btn btn-primary btn-sm" type="button" *ngIf="!cartProducts.includes(product.product_Id)"  (click)="cartProducts.includes(product.product_Id) ? deleteFromCart(product.product_Id) : addToCart(product.product_Id)"> Add to cart</button>
                                    <button class="btn btn-outline-primary btn-sm mt-2" type="button" (click)="deleteFromWishList(product.product_Id)" >
                                        Remove from Wishlist
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>