<div class="container-float">
    <nav class="navbar navbar-expand navbar-dark bg-success px-5">
      <a class="navbar-brand" routerLink=""> <img src="" style="height:30px" alt="">
        Farming Equipment</a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse  px-5" id="navbarText">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" routerLink="">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/farmer-registration">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="#">About Us</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="#">History</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="admin-dashboard">Admin-dashboard</a>
          </li>
        
        </ul>
      </div>
    </nav>
  </div>

