<app-farmer-menu *ngIf="currentUserType == 'Farmer'"></app-farmer-menu>

<div class="container">
    <div class="content-wrapper">
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card m-0 text-white">
                    <div class="row no-gutters">
                        <div class="container-fluid pb-video-container">
                            <div class="col-md-10 col-md-offset-1">
                                <h3 class="text-center">Video Gallery</h3>
                                <div class="row pb-row" >
                                    <div class="col-md-3 pb-video">
                                        <iframe width="100%" height="230" src="https://www.youtube.com/embed/AIeWEa4hXck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>

                                    <div class="col-md-3 pb-video">
                                        <iframe width="100%" height="230" src="https://www.youtube.com/embed/PUb6nfBxuuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>

                                    <div class="col-md-3 pb-video">
                                        <iframe width="100%" height="230" src="https://www.youtube.com/embed/SNKWRB1-5pA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>

                                    <div class="col-md-3 pb-video">
                                        <iframe width="100%" height="230" src="https://www.youtube.com/embed/qFd62j05TAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>

                                    <div class="col-md-3 pb-video">
                                        <iframe width="100%" height="230" src="https://www.youtube.com/embed/0eQubwSUo-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>