<div class="" id="home">
    <app-main-menu *ngIf="farmer_id == ''"></app-main-menu>
    <app-seller-menu *ngIf="account_type == 'Seller'"></app-seller-menu>
    <app-farmer-menu *ngIf="account_type == 'Farmer'"></app-farmer-menu>
    <app-admin-menu *ngIf="account_type == 'Admin'"></app-admin-menu>

    <form class="container mt-2" [formGroup]="createUser">
        <div class="row tm-content-row">
            <div class="col-12 tm-block-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto ">
                    <h2 class="text-white">Account type</h2>
                    <select class="custom-select " formControlName="account_type"
                        [class.disabled-contenct]="farmer_id != ''">
                        <option value=''>Select account</option>
                        <option value="Admin">Admin</option>
                        <option value="Farmer">Farmer</option>
                        <option value="Seller">Seller</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
            <div class="tm-block-col tm-col-avatar">
                <div class="tm-bg-primary-dark tm-block tm-block-avatar">
                    <h2 class="tm-block-title">Change Avatar</h2>
                    <div class="tm-avatar-container">
                        <img id="fileInput" [src]="url" style="max-width: 300px!important; max-height: 200px;"
                            *ngIf="farmer_id == ''">
                        <img id="fileInput" alt="user avatar" src='{{ "assets/images/"+url}}'
                            style="max-width: 300px!important; max-height: 200px;" *ngIf="farmer_id != '' && url != ''">
                        <img id="fileInput" alt='avatar' src='../../assets/img/img_avatar2.png'
                            style="max-width: 300px!important; max-height: 200px;" *ngIf="url == ''">
                    </div>
                    <input type="file" class="btn btn-primary btn-block mx-auto" value="UPLOAD PRODUCT IMAGE"
                        onclick="document.getElementById('fileInput').click();" (change)="readUrl($event)" />
                </div>
            </div>
            <div class="tm-block-col tm-col-account-settings">
                <div class="tm-bg-primary-dark tm-block tm-block-settings">
                    <h2 class="tm-block-title">Account Settings<br>
                        {{createUser.errors}}
                        Form Status: {{ createUser.status }} <span
                            *ngIf="createUser.status == 'INVALID'">&#x274C;</span> <span style="color: greenyellow;"
                            *ngIf='createUser.status == "VALID"'>&#10004;</span>
                    </h2>
                    <div class="tm-signup-form row">
                        <div class="form-group mt-2 col-lg-6">
                            <label for="exampleInputEmail1">Farmer Name</label>
                            <input formControlName="farmer_name" type="text" class="form-control form-control-lg "
                                [ngClass]="createUser.controls['farmer_name'].touched && createUser.controls['farmer_name'].invalid ? 'is-invalid' : createUser.controls['farmer_name'].invalid ?'' : 'is-valid' ">
                        </div>
                        <br>

                        <div class="form-group mt-2 col-lg-6">
                            <label for="exampleInputEmail1">Phone Number</label>
                            <input formControlName="farmer_phone" type="text" class="form-control form-control-lg"
                                [ngClass]=" createUser.controls['farmer_phone'].touched && createUser.controls['farmer_phone'].invalid ? 'is-invalid' : createUser.controls['farmer_phone'].invalid ?'' : 'is-valid' ">
                        </div>

                        <div class="form-group mt-2 col-lg-12">
                            <label for="exampleInputEmail1"> Address</label>
                            <textarea formControlName="farmer_address" rows="3" cols="50" maxlength="150"
                                class="form-control form-control-lg"
                                [ngClass]=" createUser.controls['farmer_address'].touched && createUser.controls['farmer_address'].invalid ? 'is-invalid' : createUser.controls['farmer_address'].invalid ?'' : 'is-valid' "> </textarea>
                        </div>

                        <div class="form-group mt-2 ">
                            <label for="exampleInputPassword1">Email</label>
                            <div class="btn-toolbar">
                                <div class="">
                                    <input type="text" class="form-control form-control-lg "
                                        formControlName="farmer_email" style="width:22.5rem"
                                        [readonly]="disableCreatorEmail"
                                        [ngClass]=" createUser.controls['farmer_email'].touched && createUser.controls['farmer_email'].invalid ? 'is-invalid' : createUser.controls['farmer_email'].invalid ?'' : 'is-valid' ">
                                </div>
                                <input type="text " class="form-control form-control-lg mx-2" style="width:9rem"
                                    [hidden]="!createUser.controls['farmer_email'].valid" *ngIf="!isSendOTPVisible"
                                    formControlName="otp" [readonly]="VerifyLabel == 'Verified' ? true : false"
                                    [ngClass]="createUser.controls['otp'].invalid ? 'is-invalid' : createUser.controls['otp'].invalid ? '' : 'is-valid' ">
                                <button type="submit" class="btn btn-sm btn-success mx-2" (click)="sendOTP()"
                                    *ngIf="isSendOTPVisible"
                                    [disabled]="!createUser.controls['farmer_email'].valid">{{otpLabel}}</button>
                                <button type="submit" class="btn btn-sm btn-success " (click)="verifyEmail()"
                                    *ngIf="!isSendOTPVisible"
                                    [disabled]="VerifyLabel == 'Verified' ? true : false || !createUser.controls['farmer_email'].valid || !createUser.controls['otp'].valid">{{VerifyLabel}}</button>
                            </div>
                        </div>

                        <div class="form-group mt-2 col-lg-6">
                            <label for="exampleInputPassword1">Password</label>
                            <input formControlName="farmer_password" type="password"
                                class="form-control form-control-lg"
                                [ngClass]=" createUser.controls['farmer_password'].touched && createUser.controls['farmer_password'].invalid ? 'is-invalid' : createUser.controls['farmer_password'].invalid ?'' : 'is-valid' ">
                        </div>

                        <div class="form-group mt-2 col-lg-6">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input formControlName="confirmPassword" type="password"
                                class="form-control form-control-lg"
                                [ngClass]=" createUser.controls['confirmPassword'].touched && createUser.controls['confirmPassword'].invalid ? 'is-invalid' : createUser.controls['confirmPassword'].invalid ?'' : 'is-valid' ">
                        </div>


                        <div class="col-lg-12">
                            <button (click)="onSubmit()" *ngIf="farmer_id == ''" [disabled]="!createUser.valid"
                                class="btn btn-primary btn-block text-uppercase col-lg-12">
                                Create Profile
                            </button>
                            <button (click)="updateProfile()" *ngIf="farmer_id != ''" [disabled]="!createUser.valid"
                                class="btn btn-primary btn-block text-uppercase col-lg-12">
                                Update Profile
                            </button>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>

</div>